*{
    margin:0;
    padding:0;
}
html, body{
    height:100%-60px;
    width:100%;
}
@font-face {
    font-family: Premier;
    src: url(fonts/Premier.ttf);
}
body{
    font-family: Premier;
    background-color:lightblue;
}
.glavni{
    height:100%;
    width:100%;
    margin-top:60px;
}
.signin{
    width:600px;
    margin:0 auto;
    border:solid black 2px;
}
.glava{
	width:100%;
    height:40px;
    background-color:rgb(233,0,82);
    color:white;
    font-size: 20px;
}
.vsebina{
    background-color:white;
    height:700px;
}
.levo{
    width:5%;
    float:left;
    position:relative;
    height:100%;
}
.gor{
    width:90%;
    float:left;
    position:relative;
    height:5%;
}
.desno{
    width:5%;
    float:right;
    position:relative;
    height:95%;
}
.forma{
    width:90%;
    height:95%;
    float:left;
    position:relative;
}
.email{
	height:250px;
    width:100%;
}
.geslo{
	height:250px;
    width:100%;
}
.buttn{
    height:165px;
    width:100%;
}