*{
    margin:0;
    padding:0;
}
html, body{
    height:100%-120px;
    width:100%;
}
@font-face {
    font-family: Premier;
    src: url(../fonts/Premier.ttf);
}
body{
    font-family: Premier;
    background-color:lightblue;
}
.glavni{
    height:100%;
    width:100%;
    margin-top:60px;
    margin-bottom:60px;
}
.reg{
    width:900px;
    margin:0 auto;
}
.glava1{
	width:95%;
    height:40px;
    background-color:rgb(53,0,61);
    color:white;
    font-size: 20px;
    line-height: 39px;
    padding-left: 5%;
}
.glava2{
    width:100%;
    height:120px;
    border-bottom:solid lightgray 1px;
    background-color:white;
}
.levo{
    position:relative;
    height:100px;
    width:300px;
    float:left;
}
.line{
    position:relative;
    width:300px;
    height:3px;
    margin-top:46px;
    background-color:darkgreen;
    float:left;
}
.desno{
    position:relative;
    height:100px;
    width:300px;
    float:left;
}
.krog{
    position:relative;
    height:80px;
    width:80px;
    border-radius:50%;
    background-color: darkgreen;
    float:right;
    margin-top:8px;
}
.krog svg{
    margin-left:9px;
    margin-top:18px;
    fill:white;
}
.prvi{
    position:relative;
    height:20px;
    text-align:right;
    float:left;
    margin-left:195px;
}
.drugi{
    position:relative;
    height:20px;
    float:left;
    margin-left:245px;
}
.krog2{
    position:relative;
    height:80px;
    width:80px;
    border-radius:50%;
    background-color: rgb(53,0,61);
    margin-top:8px;
}
.krog2 svg{
    fill:white;
    margin-left:17px;
    margin-top:5px;
}
.vsebina{
    background-color: white;
    min-height:1000px;
}
.top{
    width:100%;
    position:relative;
    height:3%;
}
.forma{
    width:80%;
    height:97%;
    position:relative;
    margin:0 auto;
    margin-bottom:20px;
}
.header{
    font-size:23px;
    position:relative;
    padding-top:10px;
}
.header2{
    font-size:16px;
    color:gray;
    margin-top:25px;
}
.header3{
    margin-top:25px;
    font-size:14px;
}
.tabela{
    width:100%;
    position:relative;
    height:700px;
    margin-top:5px;
    margin-bottom:20px;
}
.tabela table{
    position:relative;
    width:100%;
    height:100%;
    border-collapse:collapse;
}
.team{
    position:relative;
    height:60%;
    width:100%;
}
.name{
    position:relative;
    height:40%;
    width:100%;
    font-size: 14px;
    text-align:center;
}
.team img{
    position:relative;
    height:50px;
    width:50px;
    padding-left: 45px;
    padding-top:30px;
}
.clickable{
    cursor: pointer;
    border:1px solid grey;
    height:120px;
    width:120px;
}
.clicked{
    background-color:rgb(53,0,61);
    color:white;
}
.button{
    position: relative;
    width:100%;
    height:50px;
    text-align: center;
    margin-bottom: 20px;
}
#buttn{
    position:relative;
    display:block;
    width:40%;
    height:100%;
    background-color:black;
    color:white;
    text-decoration: none;
    line-height:50px;
    font-size:14px;
    border-radius:3px;
    margin:0 auto;
    border:none;
    font-family:Premier;
}
#buttn:hover{
    background-color: blue;
    color:white;
}
.label{
    position: relative;
    width:100%;
    height:30px;
    text-align: center;
    font-size:23px;
    margin-bottom:10px;
}
.checkbox-invis{
    visibility:hidden;
    display:none;
}
.checkbox{
    position: relative;
    width:100%;
    height:300px;
    visibility:visible;
}
.row1{
    position: relative;
    width:100%;
    height:30px;
    padding-left:6%;
    margin-bottom:10px;
}
input[type=checkbox]{
    transform:scale(2.0);
    display:inline-block;
    margin-right: 10px;
}
input[type=checkbox]{
    accent-color:black;
}
.team-checkbox{
    position:relative;
    height:30px;
    width:32%;
    display:inline-block;
    font-size:15px;
}
.finish-reg{
    position:relative;
    width:100%-20px;
    height:50px;
    text-align: center;
    padding-bottom:20px;
}
.fin-reg{
    position:relative;
    width:32%;
    height:100%;
    margin:0 auto;
    border:none;
    font-family:Premier;
    background-color:rgb(53,0,61);
    color:white;
}
.fin-reg:hover{
    background-color: rgb(232,232,232);
    color:black;
}