*{
    margin:0;
    padding:0;
}
html, body{
    height:100%-120px;
    width:100%;
}
@font-face {
    font-family: Premier;
    src: url(../fonts/Premier.ttf);
}
body{
    font-family: Premier;
    background-color:lightblue;
}
.glavni{
    height:100%;
    width:100%;
    margin-top:60px;
    margin-bottom:60px;
}
.reg{
    width:900px;
    margin:0 auto;
}
.glava1{
	width:95%;
    height:40px;
    background-color:rgb(53,0,61);
    color:white;
    font-size: 20px;
    line-height: 39px;
    padding-left: 5%;
}
.glava2{
    width:100%;
    height:120px;
    border-bottom:solid lightgray 1px;
    background-color:white;
}
.levo{
    position:relative;
    height:100px;
    width:300px;
    float:left;
}
.line{
    position:relative;
    width:300px;
    height:3px;
    margin-top:46px;
    background-color:lightgray;
    float:left;
}
.desno{
    position:relative;
    height:100px;
    width:300px;
    float:left;
}
.krog{
    position:relative;
    height:80px;
    width:80px;
    border-radius:50%;
    background-color: rgb(53,0,61);
    float:right;
    margin-top:8px;
}
.krog svg{
    margin-left:19px;
    margin-top:10px;
    fill:white;
}
.prvi{
    position:relative;
    height:20px;
    text-align:right;
    float:left;
    margin-left:195px;
}
.drugi{
    position:relative;
    height:20px;
    float:left;
    margin-left:245px;
}
.krog2{
    position:relative;
    height:80px;
    width:80px;
    border-radius:50%;
    background-color: lightgray;
    margin-top:8px;
}
.krog2 svg{
    fill:white;
    margin-left:17px;
    margin-top:5px;
}
.vsebina{
    background-color: white;
    height:945px;
}
.top{
    width:100%;
    position:relative;
    height:3%;
}
.forma{
    width:80%;
    height:97%;
    position:relative;
    margin:0 auto;
}
.header{
    font-size:23px;
}
.name{
    height:50px;
    width:100%;
    position:relative;
    margin-top:30px;
    text-align: center;
}
.labelname{
    width:30%;
    height:100%;
    float:left;
    position:relative;
    line-height:50px;
    font-size: 14px;
    text-align: left;
}
.inputname{
    width:70%;
    height:100%;
    float:left;
    position:relative;
}
.inputname input{
    width:93%;
    height:100%; 
    position:relative;
    background-color:rgb(232,232,232);
    border:1px solid black;
    padding-left:10px;
    float:left;
}
.list{
    width:50%;
    height:120px;
    position:relative;
    margin-left:30%;
    margin-top:25px;
}
.listhead{
    font-size:14px;
    margin-bottom:10px;
}
.lista{
    list-style-type: none;
}
.lista li{
    font-size:14px;
    margin-bottom:10px;
}
.spol{
    height:50px;
    width:100%;
    position:relative;
    margin-top:30px;
}
.label0{
    width:30%;
    height:100%;
    float:left;
    position:relative;
    line-height:40px;
    font-size:14px;
    clear:right;
}
.square1-1,.square1-2,.square1-3,.square1-4{
	float:right;
	height:20px;
	width:20px;
	background-color:red;
	visibility:visible;
}
.square1-1 svg,.square1-2 svg,.square1-3 svg,.square1-4 svg{
	fill:white;
	padding-left:5px;
}
.square2-1,.square2-2,.square2-3,.square2-4{
	float:right;
	height:20px;
	width:20px;
	background-color:green;
	margin-left:20px;
	visibility:visible;
}
.invis1-1,.invis1-2,.invis1-3,.invis1-4,.invis2-1,.invis2-2,.invis2-3,.invis2-4{
	display:none;
	visibility:hidden;
}
.square2-1 svg,.square2-2 svg,.square2-3 svg,.square2-4 svg{
	fill:white;
	padding-left:5px;
}
.radio{
    width:20%;
    height:100%;
    position:relative;
    float:left;
    line-height:50px;
    align-items:left;
}
.radbut{
    width:50%;
    position:relative;
    height:100%;
    float:left;
}
.radlab{
    width:50%;
    position:relative;
    height:100%;
    float:left;
    line-height: 37px;
    margin-left:-35px;
}
.radio input[type=radio]{
    width: 40%;
    height: 25px;
}
.radio label{
    height:100%;
    line-height:20px;
}
.datum{
    position: relative;
    height:92px;
    width:100%;
}
.labels{
    position: relative;
    height:40px;
    width:70%;
    float:left;
}
.labelday{
    position:relative;
    height:100%;
    width:25%;
    float:left;
    line-height: 40px;
}
.labelyear{
    position:relative;
    height:100%;
    width:50%;
    float:left;
    line-height: 40px;
}
.inputs{
    position: relative;
    height:50px;
    width:70%;
    float:right;
}
.dan{
    position:relative;
    height:100%;
    width:25%;
    float:left;
}
.leto{
    position:relative;
    height:100%;
    width:50%;
    float:left;
}
.dan input, .leto input{
    position:relative;
    height:100%;
    width:85%;
    border:1px solid black;
    margin-right:10px;
    background-color:rgb(232,232,232);
    padding-left:10px;
}
.drzava{
    position: relative;
    height:50px;
    width:100%;
    margin-top:25px;
}
.drzava .label0{
    line-height:50px;
}
.dropdown{
    position: relative;
    height:50px;
    width:70%;
    float:left;
}
.dropdown select{
    width:95%;
    height:100%; 
    position:relative;
    background-color:white;
    border:1px solid black;
    padding-left:10px;
    font-family: Premier;
}
.stevilka{
    position: relative;
    height:50px;
    width:100%;
    margin-top:25px;
}
.number{
    position:relative;
    height:100%;
    width:70%;
    float:left;
}
.dropdown2{
    position:relative;
    height:100%;
    width:30%;
    float:left;
}
.dropdown2 select{
    width:95%;
    height:100%; 
    position:relative;
    background-color:white;
    border:1px solid black;
    padding-left:10px;
    font-family: Premier;
}
.number input{
    position:relative;
    height:95%;
    width:90%;
    border:1px solid black;
    background-color:rgb(232,232,232);
    padding-left:10px;
}
.sub{
    position: relative;
    height:50px;
    width:40%;
    text-align:center;
    margin:0 auto;
    margin-top:25px;
}
#next{
    position:relative;
    display:block;
    width:100%;
    height:100%;
    background-color:rgb(53,0,61);
    color:white;
    text-decoration: none;
    line-height:50px;
    font-size:14px;
    border-radius:3px;
    font-family: Premier;
    border:none;
}
#next:hover{
    background-color: pink;
    color:black;
}
.num{
    position:relative;
    height:50%;
    width:100%;
}
.ops{
    font-size: 12px;
    position:relative;
    height:50%;
    width:100%;
    line-height:25px;
    color:rgb(53,0,61);
}
.radbut input:checked {
    accent-color:black;
}