*{
    margin:0;
    padding:0;
}
html, body{
    height:100%-60px;
    width:100%;
}
@font-face {
    font-family: Premier;
    src: url(../fonts/Premier.ttf);
}
body{
    font-family: Premier;
    background-color:lightblue;
}
.glavni{
    height:100%;
    width:100%;
    margin-top:60px;
}
.signin{
    width:600px;
    margin:0 auto;
}
.glava{
	width:95%;
    height:40px;
    background-color:rgb(53,0,61);
    color:white;
    font-size: 20px;
    line-height: 39px;
    padding-left: 5%;
}
.vsebina{
    background-color:white;
    height:720px;
}
.levo{
    width:5%;
    float:left;
    position:relative;
    height:100%;
}
.gor{
    width:90%;
    float:left;
    position:relative;
    height:4%;
}
.desno{
    width:5%;
    float:right;
    position:relative;
    height:95%;
}
.forma{
    width:90%;
    height:300px;
    float:left;
    position:relative;
}
.email{
	height:100px;
    width:100%;
}
.geslo{
	height:120px;
    width:100%;
}
.buttn{
    height:80px;
    width:100%;
}
.line{
    width:90%;
    height:30px;
    position:relative;
    float:left;
    text-align: center;
}
.line::before,.line::after {
    content: "";
    position: absolute;
    top: 38%;
    width: 30%; /* Širina črt */
    height: 1px; /* Debelina črt */
    background: rgb(177, 175, 175); /* Barva črt */
}
.line::before {
    left: 10%;
}
.line::after {
    right: 10%;
}
.line span {
    background: white;
    padding: 10px 10px 0 10px; /* Odmik besedila od črt */
    font-size:15px;
}
.input1{
    width:100%;
}
.gmejl{
    width:95%;
    height:50px;
    border:none;
    border-bottom:solid black 1px;
    padding-left:3%;
    background-color:rgb(232,232,232);
}
.input2{
    width:100%;
}
.geslu{
    width:95%;
    height:50px;
    border:none;
    border-bottom:solid black 1px;
    padding-left:3%;
    background-color:rgb(232,232,232);
}
.error{
    border:solid red 2px;
}
.buttn a{
    display:block;
    width:50%;
    float:left;
    height:40px;
    line-height:43px;
    color:red;
    text-decoration:none;
    font-size:14px;
}
.prijava{
    width:48%;
    float:left;
    background-color:rgb(53,0,61);
    border:none;
    color:white;
    height:40px;
    border-radius:3px;
    font-family: Premier;
}
.prijava:hover{
    background-color: rgb(232,232,232);
    color:black;
    border:black solid 1px;
}
.soc-login{
    width:90%;
    height:220px;
    float:left;
    position:relative;
    text-align: left;
}
.reg{
    width:90%;
    height:124px;
    float:left;
    position:relative;
    background-color:rgb(232,232,232);
}
.facebook-buttn, .twitter-buttn, .google-buttn, .apple-buttn{
    color:white;
    background-color:black;
    text-decoration:none;
    width:100%;
    height:42px;
    text-align: center;
    border-radius:3px;
    display:block;
    float:left;
    margin-top:10px;
}
.zamik{
    position:relative;
    height: 100%;
    width:2%;
    float:left;
}
.slika{
    position:relative;
    height: 100%-7px;
    width:36%;
    float:left;
    text-align:right;
    padding-top:9px;
}
.napis{
    position:relative;
    height: 100%;
    width:61%;
    float:left;
    text-align:left;
    line-height:250%;
}
.slika1{
    position:relative;
    height: 100%-7px;
    width:42%;
    float:left;
    text-align:right;
    padding-top:9px;
}
.napis1{
    position:relative;
    height: 100%;
    width:55%;
    float:left;
    text-align:left;
    line-height:250%;
}
.slika2{
    position:relative;
    height: 100%-7px;
    width:38%;
    float:left;
    text-align:right;
    padding-top:8px;
}
.napis2{
    position:relative;
    height: 100%;
    width:59%;
    float:left;
    text-align:left;
    line-height:250%;
}
.slika3{
    position:relative;
    height: 100%-7px;
    width:39%;
    float:left;
    text-align:right;
    padding-top:8px;
}
.napis3{
    position:relative;
    height: 100%;
    width:58%;
    float:left;
    text-align:left;
    line-height:250%;
}
.row1{
    height:10%;
    width:92%;
    padding:4% 4%;
}
.row2{
    height:15%;
    width:96%;
    padding-left:4%;
    font-size:12px;
}
.register{
    height:34%;
    width:100%;
    text-align: center;
    padding-top:1%;
}
.l{
    position:relative;
    float:left;
    height:34%;
    width:30%;
    padding-top:1%;
}
.registracija{
    text-decoration:none;
    color:white;
    background-color:rgb(53,0,61);
    position:relative;
    display:block;
    float:left;
    height:90%;
    width:40%;
    line-height:240%;
    border-radius:3px;
}
.registracija:hover{
    background-color: rgb(232,232,232);
    color:black;
    border:black solid 1px;
}
